body.dark-mode {
      background-color: black;
      color: white;
    }
    
    body.light-mode {
      background-color: white;
      color: black;
    }

    p::selection {
      background-color: red;
    }

    .underline-link {
      text-decoration: underline;
    }
.underline {
      text-decoration: underline;
    }
  .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 25px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 21px;
      width: 21px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #4cd964;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #4cd964;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(25px);
      -ms-transform: translateX(25px);
      transform: translateX(25px);
    }

.left-aligned {
    text-align: left;
    width: 100%;
}

.greeting-container {
    position: absolute; /* Adjusts the positioning relative to nearest positioned ancestor */
    top: 50%; /* Center vertically in the middle of the page */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to precisely center */
    width: 100%; /* Ensures full width for alignment */
}

.container {
    position: relative; /* Needed to position the greeting absolutely within it */
    text-align: center;
}

.h1 {
    font-size: 3rem; /* Adjusted for better visual appearance */
    margin-top: 10; /* Removed additional space */
    padding-left: 20px; /* Adds space from the left edge */
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .bg-gray-800 {
  background-color: #333;
  padding: 12px 30px;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

}

.greeting {
    opacity: 0; /* Start with greeting hidden */
    transition: opacity 1s ease-in-out; /* Smooth fade in and out */
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    20%, 80% { opacity: 1; } /* Stay fully visible from 20% to 80% of the animation */
}

#container {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center; /* Center vertically */
}

#greeting {
           font-size: 3em;
            opacity: 1;
            transition: opacity 1s ease;
            margin-top: 20px;
        }

.nav-item.active {
    text-decoration: underline;
    text-decoration-color: red;
}

.content-section {
    display: none;  /* Hide all sections by default */
}

.content-section.active {
    display: block; /* Show only the active section */
}

.hidden {
    display: none;
}

.tab-content {
  display: none; /* Ensure this is only controlled by JavaScript */
}

.tab-content:not(.hidden) {
  display: block; /* This ensures the tab is visible when 'hidden' class is removed */
}

#greeting {
           font-size: 3em;
            opacity: 1;
            transition: opacity 1s ease;
            margin-top: 20px;
        }
